pkgbase = excalibur-control-center
	pkgdesc = EXCALIBUR Control Center: read-only telemetry GUI and excalibur-wmi hwmon driver (DKMS)
	pkgver = 0.5.1
	pkgrel = 1
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = ninja
	makedepends = gcc
	depends = qt6-base
	depends = dkms
	options = !lto
	source = https://github.com/msahhf/excalibur-control-center/archive/refs/tags/v0.5.1.tar.gz
	sha256sums = 365a804c65a5dc5ba132e1c41f762c439d65981bea5cd979396fb72f47d2fa93

pkgname = excalibur-control-center
